<div class="auxillaryTemplate">

    <div id="auxillaryContent">
        <p class="title templateFont">Win Einstein's Money Help</p>
        <ol class="list">
            <li><span class="inline-content">To begin, the facilitator picks the number of teams and the number of rounds you’re going to play. </span></li>
            <li><span class="inline-content">You’ll want to consider team size and how much time you have to play when making these choices. </span></li>
            <li><span class="inline-content">Then, confirm your choices...just to be sure.</span></li>
            <li><span class="inline-content">Now, we can get down to business...teams are randomly chosen to answer each question...so be prepared.
                You never know when it’ll be your turn.</span></li>
            <li><span class="inline-content">When it's your turn, you’ll need to select a category and call it out...the facilitator will click it to
                display the question. Keep in mind, the category names are intended to be playful. Once a category has
                been selected, another will take its place on the screen before the next team’s turn.</span></li>
            <li><span class="inline-content">Next, read the question, collaborate with your team, and announce your answer to the facilitator. Be
                wary...there’s a timer...and you’ll need to answer in the time allotted.</span></li>
            <li><span class="inline-content">The facilitator will then click Show Me so you can see how you did.</span></li>
            <li><span class="inline-content">Correct answers score you $500 of my money. Incorrect answers earn you...zip, zero, zilch!</span></li>
            <li><span class="inline-content">Pay attention to your team’s icon at the bottom of the screen. Your money will increase or decrease
                depending on how you answer.</span></li>
            <li><span class="inline-content">Now, the other teams get a chance and the game continues in this fashion until we move on to the steal
                round.</span></li>
            <li><span class="inline-content">Things can get interesting when the steal rounds come into play. You’ll have the opportunity to either
                play it safe by challenging me or to show your resolve by boldly stealing another team’s money.</span></li>
            <li><span class="inline-content">Stealing is risky. But no risk, no reward...right? Correct answers could earn you mounds of moolah...or
                just a little chump change. Answer incorrectly and the other team walks away with your cash...</span></li>
            <li><span class="inline-content">When it’s your turn, make a decision and announce it so the facilitator can click the appropriate
                button.</span></li>
            <li><span class="inline-content">He game continues until all questions have been answered or the facilitator ends the game.</span></li>
            <li><span class="inline-content">At the end of the game the team with the biggest bank wins my money. Good Luck!</span></li>
        </ol>
    </div>
    <div id="HelpClose" class="btn templateFont">CLOSE</div>
</div>