<div class="stealVideoTemplate">
    <div class="loading_text templateFont">Loading</div>
    <div class="vidContaier">
        <video src="./video/conclusion.mp4"></video>
    </div>
    <div class="gameEnd templateFont">
        <div class="title">Game Ended</div>
    </div>
    {{!-- <div id="skipBtn" class="btn">SKIP</div> --}}
    {{!-- <div class="Overlay">
        <span class="playBtn templateFont">Play Video</span>
    </div> --}}
</div>