<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title><%= htmlWebpackPlugin.options.title %></title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
  <audio id="player" src="" loop></audio>
  <audio id="gameAudio" src="" ></audio>
  <audio id="auxillaryAudio" src="" ></audio>
  <div id="GameWindow" class="stageShadow">
    <div id="auxillary"></div>
    <div id="loader" class="templateFont">
      <div class="progressbar"></div>
    </div>
    <div id="stage">
      <div id="topbar"></div>
      <div id="gameContainer"></div>
      <!-- <div id="bottombar"></div> -->
    </div>
  </div>

</body>

</html>