<div class="introVideoTemplate">
    <div class="loading_text templateFont">Loading</div>
    <div class="vidContaier">
        {{!-- <video src="./video/rain.mp4"></video> --}}
        <video id="intro_video" src=""></video>
    </div>
    <div id="skipBtn" class="btn">SKIP</div>
    {{!-- <div class="Overlay">
        <span class="playBtn templateFont">Play Video</span>
    </div> --}}
    <div id="button_intro_hover_bottom01"></div>
</div>