<div class="roundSelectTemplate">
    <div class="roundSelectTitleNoColor" id="roundAnimate"></div>
    <div class="roundSelectTitle templateFont">How Many Rounds ?</div>
    <div class="teamButtons">
        <div class="btn btnSmall round1">1</div>
        <div class="btn btnSmall round2">2</div>
        <div class="btn btnSmall round3">3</div>
        <div class="btn btnSmall round4">4</div>
        <div class="btn btnSmall round5">5</div>
        <div class="btn btnSmall round6">6</div>
        <div class="btn btnSmall round7">7</div>
    </div>
    <div style="    width: calc(100% - 0px);
    height: 100px;
    display: flex;
    justify-content: space-evenly;">
        <div id="button_round_hover_bottom01"></div>
        <div id="button_round_hover_bottom02"></div>
        <div id="button_round_hover_bottom03"></div>
        <div id="button_round_hover_bottom04"></div>
        <div id="button_round_hover_bottom05"></div>
        <div id="button_round_hover_bottom06"></div>
        <div id="button_round_hover_bottom07"></div>
    </div>
</div>