<div class="splashTemplate">
    <div class="bottomBG"></div>
    <div class="revolvingLogo animateEinstein"></div>
    <div class="revolvingLeft animateCircle"></div>
    <div class="revolvingRight animateCircle"></div>
    <div class="topBG"></div>
    <div class="einstein animateFace"></div>
    <div id="BeginBtn" class="btn">BEGIN!</div>
    <div id="button_hover_splash_bottom"></div>
    {{!-- <div>
        <img src="../images/FM_intro_MC.png" style="width:100%;min-height:100%" alt="">
    </div> --}}
    
</div>