<div class="stealVideoTemplate">
    <div class="loading_text templateFont">Loading</div>
    <div class="vidContaier">
        <video src="./video/steal_intro.mp4"></video>
    </div>
    <div id="skipBtn" class="btn">SKIP</div>
    <div class="Overlay">
        <span class="playBtn templateFont">Play Video</span>
    </div>
</div>