<div class="selectTeamCountTemplate">
    <div class="teamSelectTitleNoColor" id="labelAnimate"></div>
    <div class="teamSelectTitle templateFont">How Many Teams ?</div>
    <div class="teamButtons">
        <div class="btn select02">2</div>
        <div class="btn select03">3</div>
        <div class="btn select04">4</div>
        <div class="btn select05">5</div>
    </div>
    <div id="button_hover_bottom01"></div>
    <div id="button_hover_bottom02"></div>
    <div id="button_hover_bottom03"></div>
    <div id="button_hover_bottom04"></div>
</div>