<div class="topBarTemplate">
    <div class="buttonsArea">
        <div class="leftColumn">
            <div class="clock">
                <span class="digitalClock"><span class="hours"></span>:<span class="minutes"></span>:<span class="seconds"></span></span>
                <div class="hms">HRS:MIN:SEC</div>
                </div>
        </div>
        <div class="rightColumn">
            <div class="HelpBtn templateFont">Help</div>
            <div class="ExitBtn templateFont">Exit</div>
        </div>

    </div>
</div>