<div class="verifySelectionTemplate">
    <div class="selectionText templateFont">
        <span class="Yselect">you selected</span>
        <span class="TeamselectCount"><span>{{totalTeams}}</span> TEAMS</span>
        <span class="playingF">Playing for</span>
        <span class="TeamSelected"><span>{{totalRounds}}</span> ROUNDS</span>
    </div>
    <div class="verifySelection templateFont">
        IS THIS CORRECT ?
    </div>
    <div class="teamButtons">
        <div class="btn yes">YES</div>
        <div class="btn no">NO</div>
    </div>
    <div id="button_hover_bottom01"></div>
    <div id="button_hover_bottom02"></div>
</div>